body {
  padding: 1em !important; 
}
.file-process-framework .loading.hide {
  display:none;
}

.file-process-framework label,
.file-process-framework .download-file {
  display: block;
}

.file-process-framework .input-mode label {
  display: inline;
}

#previewCluster {
  display: none;
}

/*
.file-process-framework .download-file {
  font-size: 2em;
  width: 90%;
}
*/

.file-process-framework textarea.preview {
  display: block;
  width: 90%;
  /*height: calc(100vh - 400px) !important;*/
  height: 20vh;
  min-height: 0 !important;
}

.stat-result-container {
  overflow: auto;
  padding: 5px;
  
  max-height: 100vh;
  max-width: 80vw;
  display: inline-block;
}

.stat-result td.large {
  background-color:#007F08;
  color: white;
}
.stat-result td.x-large {
  background-color:#00FF10;
  color: white;
  font-weight: bold;
}
.stat-result td.xx-large {
  background-color:#4CFF58;
  color: white;
  font-weight: bold;
}

.stat-result td.small {
  background-color:#7F130A;
  color: white;
}
.stat-result td.freq {
    background-color:initial !important;
    color: initial;
}

.stat-result td.freq div {
    text-align: left;
    overflow-y: auto;
    max-height: 10em;
}

.stat-result td.x-small {
  background-color:#FF2614;
  color: white;
  font-weight: bold;
}
.stat-result td.xx-small {
  background-color:#FF6D60;
  color: white;
  font-weight: bold;
}

.stat-result td.smallest {
  border: 3px solid #FF6D60;
  color: yellow;
  font-weight: bold;
}

.stat-result td.checkbox {
    text-align: center;
}

.stat-result td.largest {
  border: 3px solid #4CFF58;
  color: yellow;
  font-weight: bold;
}



.stat-result-abstract span.largest {
    color: green;
}

.stat-result-abstract span.smallest {
    color: red;
}

.stat-result td {
  text-align:right;
}
.stat-result tbody th {
  text-align: right;
}

.stat-result-abstract th,
.stat-result-abstract td,
.stat-result th,
.stat-result td {
  padding: 5px;
}

.stat-result td.fulldata {
  color: gray;
}

.display-result {
  /*overflow-y: auto;
  max-height: calc(100vh - 30px);*/
  
}
.input-mode.textarea {
  height: calc(100vh - 207px) !important;
  max-height: 100vh !important;
  min-height: 0 !important;
}

label {
  font-weight: bold;
}

.stat-result-abstract tbody td {
  vertical-align: top;
}

.stat-result-abstract tbody td > div {
  max-height: 40vh;
  overflow-y: auto;
}

.stat-result-abstract tbody tr.good th {
  background-color: #DEEBD6;
}

.stat-result-abstract tbody tr.bad th {
  background-color: #F7CFCE;
}

#decimal_places {
    width: 5em;
}